@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

ul {
	margin-block: 0;
	margin-inline: 0;
	padding-inline: 0;
}
.Toastify__toast-container--top-right {
	z-index: 100000;
}
::-webkit-scrollbar {
	width: 5px; /* width of the scrollbar */
	height: 5px; /* height of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1; /* color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
	background:#ccc; /* color of the handle */
	border-radius: 5px; /* roundness of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; /* color of the handle on hover */
}

body {
	background: #f7fafc !important;
	font-family: "Inter" !important;
}
button,
select {
	font-family: "Inter";
}
